<div class="card">
  <img src="{{ beat.cover_image.url }}" alt="{{ beat.title }}" class="beat-image" data-audio-id="audio_{{ beat.id }}">
  <a class="smth" href="{{ beat.get_absolute_url }}">
    <div class="price">{{ beat.price }}</div>
    <div class="title">{{ beat.title }}</div>
    <div class="creator">{{ beat.author }}</div>
    <audio id="audio_{{ beat.id }}" class="beat-song">
      {% if beat.demo_file %}
      <source src="{{ beat.demo_file.url }}" type="audio/mpeg">
      {% else %}
      <source src="{{ beat.audio_file.url }}" type="audio/mpeg">
      {% endif %}
    </audio>
  </a>
</div>