{% extends 'main/main_layout.html' %}
{% load static %}

{% block title %} Beats {% endblock %}
{% block content %}


<div class="container5">
    <div class="title5">Explore Tracks</div>
    <div class="search-bar5">
      <div class="search-input5">
        <input type="text" placeholder="Search" />
      </div>
      <button class="search-button5">Search</button>
    </div>
  </div>
    <section class="grid">
        {% for beat in beats %}
            {% include 'main/beat_card.html' %}
        {% endfor %}

  </section>

{% endblock %}
