{% extends 'main/main_layout.html' %}
{% load static %}

{% block title %} Beats {% endblock %}
{% block content %}


<div class="container5">
    <div class="title5">Explore Tracks</div>
    <div class="search-bar5">
        <form method="get" action="{% url 'search-beats' %}">
            <div class="search-input5">
                {% if query %}
                    <input type="text" name="q" placeholder="{{ query }}">
                {% else %}
                    <input type="text" name="q" placeholder="Search">
                {% endif %}
            </div>
            <button type="submit" class="search-button5">Search</button>
        </form>
    </div>
</div>
    <section class="grid">
        {% for beat in beats %}
            {% include 'main/beat_card.html' %}
        {% endfor %}
    </section>

<script src="{% static 'js/default_volume.js' %}"></script>
<script src="{% static 'js/pause_previous.js' %}"></script>
<script src="{% static 'js/click_play.js' %}"></script>


<script>
    const beatsContainer = document.querySelector('.grid');
    let currentPage = 1;
    let isLoading = false;
    let hasNextPage = true;
    const loadMoreURL = "{% url 'load-more-beats' %}";

    function loadMoreBeats() {
      if (!isLoading && hasNextPage) {
        isLoading = true;
        currentPage++;
        fetch(loadMoreURL + '?page=' + currentPage)
          .then(response => response.json())
          .then(data => {
            if (data.beats_html) {
              beatsContainer.insertAdjacentHTML('beforeend', data.beats_html);
              hasNextPage = data.has_next;
            } else {
              hasNextPage = false;
              console.log("Більше немає контенту");
            }
            isLoading = false;
          })
          .catch(error => {
            console.error("Помилка завантаження бітів:", error);
            isLoading = false;
          });
      }
    }

    function checkScroll() {
      const scrollPosition = window.scrollY;
      const windowHeight = window.innerHeight;
      const bodyHeight = document.body.offsetHeight;

      if (scrollPosition + windowHeight >= bodyHeight - 200) {
        loadMoreBeats();
      }
    }
    window.addEventListener("scroll", checkScroll);
    currentPage = 1;
</script>

{% endblock %}
