{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" >
  <link rel="stylesheet" href="{% static 'css/style2.css' %}" >
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <title> {% block title %} {% endblock %} </title>
</head>
<body>
  <header>
    <img class="logogo" src="{% static 'img/logo.png' %}" alt="">
    <div class="logo"><strong><a class="SL" href="{% url 'home' %}">SoundLease</a></strong></div>
    <div class="nav-links">
      <a class="buttonz" href="{% url 'beat-list' %}">
        <div>Tracks</div>
      </a>
      <a class="buttonz" href="{% url 'kit-list' %}">
        <div>Sound Kits</div>
      </a>
      <a class="buttonz" href="#">
        <div>Publishing</div>
      </a>
    </div>
    <div class="nav-right">
      <a class="huu" href="#">
        <div>Sign Up</div>
      </a>
      <div>|</div>
      <a class="huu" href="#">
        <div>Sign In</div>
      </a>
      <div class="start-selling">Start Selling</div>
    </div>
  </header>

  {% block content %} {% endblock %}

  <footer>
    <div class="footer-grid">
      <div class="footer-column">
        <h4 class="wave-icon">SoundLease</h4>
        <ul>
          <li>About us</li>
          <li>Merch</li>
          <li>Careering</li>
          <li>Pricing</li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Beat Boost Community</h4>
        <ul>
          <li>Sign in right now</li>
          <li>Pricing</li>
          <li>Guarantees</li>
          <li>Results</li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Support</h4>
        <ul>
          <li>Pricing</li>
          <li>Start selling</li>
          <li>Sign Up</li>
          <li>Log in</li>
          <li>Help us</li>
          <li>Do not sell my personal information</li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Social Media</h4>
        <ul>
          <li>Youtube</li>
          <li>SoundCloud</li>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Instagram</li>
        </ul>
      </div>
    </div>
    <div class="copyright">© 2024</div>
  </footer>
</body>
</html>
